<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgk7C7atCZh5eS2OUYnkr8wzxL2i-zUK0</string>
	<key>GCM_SENDER_ID</key>
	<string>559006773887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>class.FirebaseTest</string>
	<key>PROJECT_ID</key>
	<string>project-1582395663127183772</string>
	<key>STORAGE_BUCKET</key>
	<string>project-1582395663127183772.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559006773887:ios:d95f486c2fcc8ddfc6454a</string>
</dict>
</plist>